<% content_for :head do %>
    <title>プロフィールの登録 | PowerLifter's Log</title>
<% end %>
<div class="container mx-auto my-auto">
  <div class="hero-content flex-col">
    <h1 class="text-2xl">プロフィール 登録</h1>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-white">
      <%= form_with model: @profile, url: profile_path, html: { class: "card-body" } do |f| %>
          <div class="form-control">
            <div class="label p-0 flex justify-start items-center">
              <%= f.label :gender, class: 'mr-2' %>
              <p class="text-red-500">(必須)</p>
            </div>
            <%= f.select :gender,
            Profile.genders_i18n.invert.map { |key, value| [key, value] },
            {include_blank: '性別'},
            { class: 'select select-bordered w-full max-w-xs'} %>
            <%= render 'shared/error_messages', object: f.object, attribute: :gender %>
          </div>
          <div class="form-control">
            <div class="label p-0 flex justify-start items-center">
              <%= f.label :birthday, class: 'mr-2'%>
              <p class="text-red-500">(必須)</p>
            </div>
            <%= f.date_field :birthday, class: 'input input-bordered', placeholder:"生年月日" %>
            <%= render 'shared/error_messages', object: f.object, attribute: :birthday %>
          </div>
        <div class="form-control mt-6">
          <%= f.submit class: 'btn btn-accent' %>
        </div>
      <% end %>
    </div>
  </div>
</div>