<div class="hero min-h-screen bg-base-200 pb-16">
  <div class="hero-content flex-col">
    <h1 class="text-2xl">プロフィール</h1>
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <div class="card-body max-w-72 min-w-72">
        <div class="flex justify-center">
          <h1 class="card-title text-center">
            <%=  @user.name %>
          </h1>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">メールアドレス</h2>
          <p class="text-sm"><%= @user.email %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">性別:</h2>
          <p class="text-sm"> <%= @profile.gender_i18n %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">誕生日:</h2>
          <p class="text-sm"> <%= @profile.birthday %> </p>
        </div>
        <div class="flex justify-end w-full">
          <%= link_to "編集", edit_profile_path, class: "btn btn-sm btn-primary max-w-24 mx-2" %>
        </div>
      </div>
    </div>
  </div>
</div>