<div class="card-body max-w-72 min-w-72 pb-16">
  <div class="flex justify-center">
    <h1 class="card-title text-center">
      試技結果
    </h1>
  </div>
  <div class="border-b-2 border-dashed py-2">
    <div class="flex items-center justify-between mb-3">
      <h2 class="font-bold mr-2">検量体重</h2>
      <%= link_to edit_competition_weigh_in_path(@competition), class: "flex items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5" fill="#fda4af" > <!-- アイコンの大きさを設定 -->
          <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
        </svg>
      <% end %>
    </div>
    <p class="text-sm"> <%= competition_record.weight %> kg</p>
  </div>
  <!-- SQ試技結果 -->
  <% unless @competition.category == "シングルベンチプレス" %>
    <div class="border-b-2 border-dashed py-2">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-bold mr-2">スクワット</h2>
        <%= link_to edit_competition_squat_path(@competition), class: "flex items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5" fill="#fda4af" > <!-- アイコンの大きさを設定 -->
            <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
          </svg>
        <% end %>
      </div>
      <!-- SQ第１試技 -->
      <div class="flex flex-row pb-1">
        <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.first_attempt') %> </h3>
        <p class="text-sm basis-1/3 text-right"> <%= competition_record.squat_first_attempt %> kg</p>
        <!-- 判定結果 -->
        <% if competition_record.squat_first_success? %>
          <p class="text-sm basis-1/3 text-right text-green-500">
        <% elsif competition_record.squat_first_failure? %>
          <p class="text-sm basis-1/3 text-right text-red-500">
        <% elsif competition_record.squat_first_not_attempted? %>
          <p class="text-sm basis-1/3 text-right text-gray-500">
        <% end %>
          <%= competition_record.squat_first_attempt_result_i18n %>
        </p>
      </div>
      <!-- SQ第2試技 -->
      <div class="flex flex-row pb-1">
        <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.second_attempt') %> </h3>
        <p class="text-sm basis-1/3 text-right"> <%= competition_record.squat_second_attempt %> kg</p>
        <!-- 判定結果 -->
        <% if competition_record.squat_second_success? %>
          <p class="text-sm basis-1/3 text-right text-green-500">
        <% elsif competition_record.squat_second_failure? %>
          <p class="text-sm basis-1/3 text-right text-red-500">
        <% elsif competition_record.squat_second_not_attempted? %>
          <p class="text-sm basis-1/3 text-right text-gray-500">
        <% end %>
          <%= competition_record.squat_second_attempt_result_i18n %>
        </p>
      </div>
      <!-- SQ第3試技 -->
      <div class="flex flex-row pb-1">
        <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.third_attempt') %> </h3>
        <p class="text-sm basis-1/3 text-right"> <%= competition_record.squat_third_attempt %> kg</p>
        <!-- 判定結果 -->
        <% if competition_record.squat_third_success? %>
          <p class="text-sm basis-1/3 text-right text-green-500">
        <% elsif competition_record.squat_third_failure? %>
          <p class="text-sm basis-1/3 text-right text-red-500">
        <% elsif competition_record.squat_third_not_attempted? %>
          <p class="text-sm basis-1/3 text-right text-gray-500">
        <% end %>
          <%= competition_record.squat_third_attempt_result_i18n %>
        </p>
      </div>
    </div>
  <% end %>
  <!-- BP試技結果 -->
  <div class="border-b-2 border-dashed py-2">
    <div class="flex items-center justify-between mb-3">
      <h2 class="font-bold mr-2">ベンチプレス</h2>
      <%= link_to edit_competition_bench_presse_path(@competition), class: "flex items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5" fill="#fda4af" > <!-- アイコンの大きさを設定 -->
          <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
        </svg>
      <% end %>
    </div>
    <!-- BP第１試技 -->
    <div class="flex flex-row pb-1">
      <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.first_attempt') %> </h3>
      <p class="text-sm basis-1/3 text-right"> <%= competition_record.benchpress_first_attempt %> kg</p>
      <!-- 判定結果 -->
      <% if competition_record.benchpress_first_success? %>
        <p class="text-sm basis-1/3 text-right text-green-500">
      <% elsif competition_record.benchpress_first_failure? %>
        <p class="text-sm basis-1/3 text-right text-red-500">
      <% elsif competition_record.benchpress_first_not_attempted? %>
        <p class="text-sm basis-1/3 text-right text-gray-500">
      <% end %>
        <%= competition_record.benchpress_first_attempt_result_i18n %>
      </p>
    </div>
    <!-- BP第2試技 -->
    <div class="flex flex-row pb-1">
      <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.second_attempt') %> </h3>
      <p class="text-sm basis-1/3 text-right"> <%= competition_record.benchpress_second_attempt %> kg</p>
      <!-- 判定結果 -->
      <% if competition_record.benchpress_second_success? %>
        <p class="text-sm basis-1/3 text-right text-green-500">
      <% elsif competition_record.benchpress_second_failure? %>
        <p class="text-sm basis-1/3 text-right text-red-500">
      <% elsif competition_record.benchpress_second_not_attempted? %>
        <p class="text-sm basis-1/3 text-right text-gray-500">
      <% end %>
        <%= competition_record.benchpress_second_attempt_result_i18n %>
      </p>
    </div>
    <!-- BP第3試技 -->
    <div class="flex flex-row pb-1">
      <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.third_attempt') %> </h3>
      <p class="text-sm basis-1/3 text-right"> <%= competition_record.benchpress_third_attempt %> kg</p>
      <!-- 判定結果 -->
      <% if competition_record.benchpress_third_success? %>
        <p class="text-sm basis-1/3 text-right text-green-500">
      <% elsif competition_record.benchpress_third_failure? %>
        <p class="text-sm basis-1/3 text-right text-red-500">
      <% elsif competition_record.benchpress_third_not_attempted? %>
        <p class="text-sm basis-1/3 text-right text-gray-500">
      <% end %>
        <%= competition_record.benchpress_third_attempt_result_i18n %>
      </p>
    </div>
  </div>
  <!-- DL試技結果 -->
  <% unless @competition.category == "シングルベンチプレス" %>
    <div class="border-b-2 border-dashed py-2">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-bold mr-2">デッドリフト</h2>
        <%= link_to edit_competition_deadlift_path(@competition), class: "flex items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5" fill="#fda4af" > <!-- アイコンの大きさを設定 -->
            <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
          </svg>
        <% end %>
      </div>
      <!-- DL第１試技 -->
      <div class="flex flex-row pb-1">
        <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.first_attempt') %> </h3>
        <p class="text-sm basis-1/3 text-right"> <%= competition_record.deadlift_first_attempt %> kg</p>
        <!-- 判定結果 -->
        <% if competition_record.deadlift_first_success? %>
          <p class="text-sm basis-1/3 text-right text-green-500">
        <% elsif competition_record.deadlift_first_failure? %>
          <p class="text-sm basis-1/3 text-right text-red-500">
        <% elsif competition_record.deadlift_first_not_attempted? %>
          <p class="text-sm basis-1/3 text-right text-gray-500">
        <% end %>
          <%= competition_record.deadlift_first_attempt_result_i18n %>
        </p>
      </div>
      <!-- DL第2試技 -->
      <div class="flex flex-row pb-1">
        <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.second_attempt') %> </h3>
        <p class="text-sm basis-1/3 text-right"> <%= competition_record.deadlift_second_attempt %> kg</p>
        <!-- 判定結果 -->
        <% if competition_record.deadlift_second_success? %>
          <p class="text-sm basis-1/3 text-right text-green-500">
        <% elsif competition_record.deadlift_second_failure? %>
          <p class="text-sm basis-1/3 text-right text-red-500">
        <% elsif competition_record.deadlift_second_not_attempted? %>
          <p class="text-sm basis-1/3 text-right text-gray-500">
        <% end %>
          <%= competition_record.deadlift_second_attempt_result_i18n %>
        </p>
      </div>
      <!-- DLDL第3試技 -->
      <div class="flex flex-row pb-1">
        <h3 class="font-bold text-sm basis-1/3"> <%= t('competition_record.third_attempt') %> </h3>
        <p class="text-sm basis-1/3 text-right"> <%= competition_record.deadlift_third_attempt %> kg</p>
        <!-- 判定結果 -->
        <% if competition_record.deadlift_third_success? %>
          <p class="text-sm basis-1/3 text-right text-green-500">
        <% elsif competition_record.deadlift_third_failure? %>
          <p class="text-sm basis-1/3 text-right text-red-500">
        <% elsif competition_record.deadlift_third_not_attempted? %>
          <p class="text-sm basis-1/3 text-right text-gray-500">
        <% end %>
          <%= competition_record.deadlift_third_attempt_result_i18n %>
        </p>
      </div>
    </div>
  <% end %>
  <!-- コメント -->
  <div class="border-b-2 border-dashed py-2">
    <div class="flex items-center justify-between mb-3">
      <h2 class="font-bold mr-2">コメント</h2>
      <%= link_to edit_competition_comment_path(@competition), class: "flex items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5" fill="#fda4af" > <!-- アイコンの大きさを設定 -->
          <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
        </svg>
      <% end %>
    </div>
    <!-- 振り返りコメント -->
    <div class="rounded border border-gray-400 text-sm">
      <%= simple_format(h(competition_record.comment)) %>
    </div>
  </div>
  <div class="flex justify-end w-full">
    <%= link_to competition_competition_record_path(@competition), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "link text-[#ef4444] max-w-24 flex items-center" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 hover:text-white"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ef4444" d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg>
      削除
    <% end %>
  </div>
</div>
