<p>
  <strong>検量体重</strong>
  <%= competition_record.weight %>kg
</p>
<p>
  <strong>スクワット第１試技</strong>
  <%= competition_record.squat_first_attempt %>kg
</p>
<p>
  <strong>スクワット第１試技判定結果</strong>
  <%= competition_record.squat_first_attempt_result %>
</p>
<p>
  <strong>スクワット第2試技</strong>
  <%= competition_record.squat_second_attempt %>kg
</p>
<p>
  <strong>スクワット第2試技判定結果</strong>
  <%= competition_record.squat_second_attempt_result %>
</p>
<p>
  <strong>スクワット第3試技</strong>
  <%= competition_record.squat_third_attempt %>kg
</p>
<p>
  <strong>スクワット第3試技判定結果</strong>
  <%= competition_record.squat_third_attempt_result %>
</p>
<p>
  <strong>ベンチプレス第１試技</strong>
  <%= competition_record.benchpress_first_attempt %>kg
</p>
<p>
  <strong>ベンチプレス第１試技判定結果</strong>
  <%= competition_record.benchpress_first_attempt_result %>
</p>
<p>
  <strong>ベンチプレス第2試技</strong>
  <%= competition_record.benchpress_second_attempt %>kg
</p>
<p>
  <strong>ベンチプレス第2試技判定結果</strong>
  <%= competition_record.benchpress_second_attempt_result %>
</p>
<p>
  <strong>ベンチプレス第3試技</strong>
  <%= competition_record.benchpress_third_attempt %>kg
</p>
<p>
  <strong>ベンチプレス第3試技判定結果</strong>
  <%= competition_record.benchpress_third_attempt_result %>
</p>
<p>
  <strong>デッドリフト第１試技</strong>
  <%= competition_record.deadlift_first_attempt %>kg
</p>
<p>
  <strong>デッドリフト第１試技判定結果</strong>
  <%= competition_record.deadlift_first_attempt_result %>
</p>
<p>
  <strong>デッドリフト第2試技</strong>
  <%= competition_record.deadlift_second_attempt %>kg
</p>
<p>
  <strong>デッドリフト第2試技判定結果</strong>
  <%= competition_record.deadlift_second_attempt_result %>
</p>
<p>
  <strong>デッドリフト第3試技</strong>
  <%= competition_record.deadlift_third_attempt %>kg
</p>
<p>
  <strong>デッドリフト第3試技判定結果</strong>
  <%= competition_record.deadlift_third_attempt_result %>
</p>
<p>
  <strong>コメント</strong>
  <%= simple_format(h(competition_record.comment)) %>
</p>
<button class="btn btn-primary">
  <%= link_to "大会結果の編集", edit_competition_competition_record_path(competition, competition_record) %>
</button>
<button class="btn btn-primary">
  <li><%= link_to "試技結果削除", competition_competition_record_path(competition, competition_record), data: {
                    turbo_method: :delete,
                    turbo_confirm: "削除しますか？"
                  } %></li>
</button>