<article class="text-wrap text-center m-4">
  <h1 class="font-semibold text-red-500">(※)試技結果の選択について</h1>
  <p class="text-sm text-red-500">試技結果に重量を入力した場合、<br/>試技結果が成功か失敗か<br/>選択する必要があります。</p>
</article>
<%= form_with model: competition_record, url: competition_competition_record_path(competition)  do |f| %>
	<label class="form-control w-full mb-6">
		<div class="label p-0 flex justify-start items-center">
			<%= f.label :weight, class: 'mr-2'%>
			<p class="text-red-500">(必須)</p>
		</div>
		<%= f.text_field :weight, class: 'input input-bordered input-sm rounded w-full', placeholder:"検量体重", required: true %>
	</label>
	<!-- スクワット試技結果 -->
	<!-- スクワット第１試技 -->
	<div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :squat_first_attempt %>
      <%= f.text_field :squat_first_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :squat_first_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :squat_first_attempt_result,
      CompetitionRecord.squat_first_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- スクワット第2試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :squat_second_attempt %>
      <%= f.text_field :squat_second_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :squat_second_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :squat_second_attempt_result,
      CompetitionRecord.squat_second_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- スクワット第3試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :squat_third_attempt %>
      <%= f.text_field :squat_third_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow mr-2">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :squat_third_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :squat_third_attempt_result,
      CompetitionRecord.squat_third_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- ベンチプレス試技結果 -->
	<!-- ベンチプレス第１試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :benchpress_first_attempt %>
      <%= f.text_field :benchpress_first_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :benchpress_first_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :benchpress_first_attempt_result,
      CompetitionRecord.benchpress_first_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- ベンチプレス第2試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :benchpress_second_attempt %>
      <%= f.text_field :benchpress_second_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :benchpress_second_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :benchpress_second_attempt_result,
      CompetitionRecord.benchpress_second_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- ベンチプレス第3試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :benchpress_third_attempt %>
      <%= f.text_field :benchpress_third_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :benchpress_third_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :benchpress_third_attempt_result,
      CompetitionRecord.benchpress_third_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- デッドリフト試技結果 -->
	<!-- デッドリフト第１試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :deadlift_first_attempt %>
      <%= f.text_field :deadlift_first_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :deadlift_first_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :deadlift_first_attempt_result,
      CompetitionRecord.deadlift_first_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- デッドリフト第2試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :deadlift_second_attempt %>
      <%= f.text_field :deadlift_second_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :deadlift_second_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :deadlift_second_attempt_result,
      CompetitionRecord.deadlift_second_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- デッドリフト第3試技 -->
  <div class="flex justify-between mb-6">
    <label class="form-control flex-grow mr-2">
      <%= f.label :deadlift_third_attempt %>
      <%= f.text_field :deadlift_third_attempt, class: 'input input-bordered input-sm rounded w-full', placeholder:"重量を入力してください" %>
    </label>
    <label class="form-control flex-grow">
      <div class="label p-0 flex justify-start items-center">
        <%= f.label :deadlift_third_attempt_result, class: 'mr-2' %>
        <p class="text-red-500">(※)</p>
      </div>
      <%= f.select :deadlift_third_attempt_result,
      CompetitionRecord.deadlift_third_attempt_results_i18n.invert.map { |key, value| [key, value] },
      {include_blank: '判定結果'}, { class: 'select select-bordered rounded select-sm w-full' } %>
    </label>
  </div>
	<!-- 振り返りコメント -->
	<label class="form-control mb-6">
    <div class="label p-0 flex justify-start items-center">
			<%= f.label :comment, class: 'mr-2'%>
      <p class="text-slate-500">(任意)</p>
    </div>
			<%= f.text_area :comment, class:"textarea textarea-bordered", placeholder:"振り返りコメント" %>
	</label>
	<!-- ボタン -->
	<div class="form-control mt-6">
			<%= f.submit class: 'btn btn-primary' %>
	</div>
    <% end %>