<%= form_with model: competition_record, url: competition_competition_record_path(competition, competition_record )  do |f| %>
    <label class="form-control mb-6">
        <%= f.label :weight %>
        <%= f.text_field :weight, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"検量体重", required: true %>
    </label>
    <!-- スクワット試技結果 -->
    <!-- スクワット第１試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :squat_first_attempt %>
            <%= f.text_field :squat_first_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"SQ第1試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :squat_first_attempt_result %>
            <%= f.select :squat_first_attempt_result,
            CompetitionRecord.squat_first_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- スクワット第2試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :squat_second_attempt %>
            <%= f.text_field :squat_second_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"SQ第2試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :squat_second_attempt_result %>
            <%= f.select :squat_second_attempt_result,
            CompetitionRecord.squat_second_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- スクワット第3試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :squat_third_attempt %>
            <%= f.text_field :squat_third_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"SQ第3試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :squat_third_attempt_result %>
            <%= f.select :squat_third_attempt_result,
            CompetitionRecord.squat_third_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- ベンチプレス試技結果 -->
    <!-- ベンチプレス第１試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :benchpress_first_attempt %>
            <%= f.text_field :benchpress_first_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"BP第1試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :benchpress_first_attempt_result %>
            <%= f.select :benchpress_first_attempt_result,
            CompetitionRecord.benchpress_first_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- ベンチプレス第2試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :benchpress_second_attempt %>
            <%= f.text_field :benchpress_second_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"BP第2試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :benchpress_second_attempt_result %>
            <%= f.select :benchpress_second_attempt_result,
            CompetitionRecord.benchpress_second_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- ベンチプレス第3試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :benchpress_third_attempt %>
            <%= f.text_field :benchpress_third_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"BP第3試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :benchpress_third_attempt_result %>
            <%= f.select :benchpress_third_attempt_result,
            CompetitionRecord.squat_third_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- デッドリフト試技結果 -->
    <!-- デッドリフト第１試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :deadlift_first_attempt %>
            <%= f.text_field :deadlift_first_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"DL第1試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :deadlift_first_attempt_result %>
            <%= f.select :deadlift_first_attempt_result,
            CompetitionRecord.benchpress_first_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- デッドリフト第2試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :deadlift_second_attempt %>
            <%= f.text_field :deadlift_second_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"DL第2試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :deadlift_second_attempt_result %>
            <%= f.select :deadlift_second_attempt_result,
            CompetitionRecord.benchpress_second_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <!-- デッドリフト第3試技 -->
    <div class="flex gap-x-4 mb-6">
        <label class="form-control">
            <%= f.label :deadlift_third_attempt %>
            <%= f.text_field :deadlift_third_attempt, class: 'input input-bordered input-xs w-full max-w-xs', placeholder:"DL第3試技重量" %>
        </label>
        <label class="form-control">
            <%= f.label :deadlift_third_attempt_result %>
            <%= f.select :deadlift_third_attempt_result,
            CompetitionRecord.squat_third_attempt_results_i18n.invert.map{|key, value| [key, value]},
            {include_blank: '判定結果'},
            { class: 'select select-bordered w-full max-w-xs' } %>
        </label>
    </div>
    <label class="form-control mb-6">
        <%= f.label :comment %>
        <%= f.text_area :comment, class:"textarea textarea-bordered", placeholder:"振り返りコメント" %>
    </label>
    <div class="form-control mt-6">
        <%= f.submit class: 'btn btn-primary' %>
    </div>
    <% end %>