<div id="<%= dom_id competition %>">
  <p>
    <strong>Name:</strong>
    <%= competition.name %>
  </p>
  <p>
    <strong>Venue:</strong>
    <%= competition.venue %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= competition.date %>
  </p>
  <p>
    <strong>Competition_type:</strong>
    <%= competition.competition_type_i18n %>
  </p>
  <p>
    <strong>Gearcategory_type:</strong>
    <%= competition.gearcategory_type_i18n %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= competition.category %>
  </p>
  <p>
    <strong>Age_group:</strong>
    <%= competition.age_group %>
  </p>
  <p>
    <strong>Weight_class:</strong>
    <%= competition.weight_class %>
  </p>
  <p>
    <strong>Participation_status:</strong>
    <%= competition.participation_status_i18n %>
  </p>
  <p>
  <button class="btn btn-primary"><%= link_to "詳細", competition_path(competition) %></button>
  </p>
  <p>
    <strong>---------------</strong>
  </p>
</div>
