<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <div class="card-body max-w-72 min-w-72">
        <div class="flex justify-center">
          <h1 class="card-title text-center">
            <%= @competition.name %>
          </h1>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:venue) %>:</h2>
          <p class="text-sm"> <%= @competition.venue %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:date) %>:</h2>
          <p class="text-sm"> <%= @competition.date %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:competition_type) %>:</h2>
          <p class="text-sm"> <%= @competition.competition_type_i18n %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:gearcategory_type) %>:</h2>
          <p class="text-sm"> <%= @competition.gearcategory_type_i18n %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:category) %>:</h2>
          <p class="text-sm"> <%= @competition.category %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:age_group) %>:</h2>
          <p class="text-sm"> <%= @competition.age_group %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:weight_class) %>:</h2>
          <p class="text-sm"> <%= @competition.weight_class %> </p>
        </div>
        <div class="flex justify-end w-full">
          <%= link_to "編集", edit_competition_path(@competition), class: "btn btn-sm btn-primary max-w-24 mx-2" %>
          <%= link_to "削除", competition_path(@competition), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"}, class: "btn btn-sm btn-error max-w-24" %>
        </div>
      </div>
    </div>
    <!-- 大会試技結果詳細情報 -->
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <% if CompetitionRecord.exists?(competition_id: @competition.id) %>
	      <%= render 'competition_records/competition_record', competition_record: @competition_record, competition: @competition%>
      <% else %>
        <div class="flex-col flex justify-center items-center w-full">
          <p>大会結果記録はまだ未登録です</p>
          <%= link_to "大会結果記録", new_competition_competition_record_path(@competition), class: "btn btn-sm btn-primary max-w-24" %>
        </div>
      <% end %>
    </div>
  </div>
</div>