<div class="hero min-h-screen bg-base-200 pb-16">
  <div class="hero-content flex-col">
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <div class="card-body max-w-72 min-w-72">
        <div class="flex justify-center">
          <h1 class="card-title text-center">
            <%= @competition.name %>
          </h1>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:venue) %>:</h2>
          <p class="text-sm"> <%= @competition.venue %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:date) %>:</h2>
          <p class="text-sm"> <%= @competition.date %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:competition_type) %>:</h2>
          <p class="text-sm"> <%= @competition.competition_type_i18n %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:gearcategory_type) %>:</h2>
          <p class="text-sm"> <%= @competition.gearcategory_type_i18n %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:category) %>:</h2>
          <p class="text-sm"> <%= @competition.category %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:age_group) %>:</h2>
          <p class="text-sm"> <%= @competition.age_group %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:weight_class) %>:</h2>
          <p class="text-sm"> <%= @competition.weight_class %> </p>
        </div>
        <div class="flex justify-end w-full">
          <%= link_to "編集", edit_competition_path(@competition), class: "btn btn-sm btn-primary max-w-24 mx-2" %>
          <%= link_to "削除", competition_path(@competition), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"}, class: "btn btn-sm btn-error max-w-24" %>
        </div>
      </div>
    </div>
    <!-- 大会試技結果詳細情報 -->
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <% if CompetitionRecord.exists?(competition_id: @competition.id) %>
	      <%= render 'competition_records/competition_record', competition_record: @competition_record, competition: @competition%>
      <% else %>
        <div class="flex-col flex justify-center items-center w-full">
          <p>大会結果記録はまだ未登録です</p>
          <%= link_to "大会結果記録", new_competition_weigh_in_path(@competition), class: "btn btn-sm btn-primary max-w-24" %>
        </div>
      <% end %>
    </div>
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <% if @competition_result.present? %>
      <div class="flex flex-row shadow divide-x rounded-2xl border-[1px]">
        <div class="flex w-1/2 flex-col p-4">
          <div class="text-sm font-medium text-gray-500">Downloads</div>
          <div class="text-2xl font-bold">31K</div>
          <div class="text-sm text-gray-400">Jan 1st - Feb 1st</div>
        </div>
        <div class="flex w-1/2 flex-col p-4">
          <div class="text-sm font-medium text-gray-500">New Registers</div>
          <div class="text-2xl font-bold">1,200</div>
          <div class="text-sm text-gray-400">↘︎ 90 (14%)</div>
        </div>
      </div>

        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">スクワット最高重量:</h2>
          <p class="text-sm"> <%= @competition_result.best_squat_weight %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">ベンチプレス最高重量:</h2>
          <p class="text-sm"> <%= @competition_result.best_benchpress_weight %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">デッドリフト最高重量:</h2>
          <p class="text-sm"> <%= @competition_result.best_deadlift_weight %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">合計重量:</h2>
          <p class="text-sm"> <%= @competition_result.total_lifted_weight %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold">IPF GLポイント:</h2>
          <p class="text-sm"> <%= @competition_result.ipf_points.round(2) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>