<div class="hero min-h-screen bg-base-200 pb-16">
  <div class="hero-content flex-col">
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <div class="card-body max-w-72 min-w-72">
        <div class="flex justify-center">
          <h1 class="card-title text-center">
            <%= @competition.name %>
          </h1>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:venue) %>:</h2>
          <p class="text-sm"> <%= @competition.venue %></p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:date) %>:</h2>
          <p class="text-sm"> <%= @competition.date %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:competition_type) %>:</h2>
          <p class="text-sm"> <%= @competition.competition_type_i18n %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:gearcategory_type) %>:</h2>
          <p class="text-sm"> <%= @competition.gearcategory_type_i18n %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:category) %>:</h2>
          <p class="text-sm"> <%= @competition.category %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:age_group) %>:</h2>
          <p class="text-sm"> <%= @competition.age_group %> </p>
        </div>
        <div class="border-b-2 border-dashed py-2">
          <h2 class="font-bold"><%= Competition.human_attribute_name(:weight_class) %>:</h2>
          <p class="text-sm"> <%= @competition.weight_class %> </p>
        </div>
        <div class="flex justify-end w-full">
          <%= link_to "編集", edit_competition_path(@competition), class: "btn btn-sm btn-primary max-w-24 mx-2" %>
          <%= link_to "削除", competition_path(@competition), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"}, class: "btn btn-sm btn-error max-w-24" %>
        </div>
      </div>
    </div>
    <!-- 大会試技結果詳細情報 -->
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-4">
      <% if CompetitionRecord.exists?(competition_id: @competition.id) %>
	      <%= render 'competition_records/competition_record', competition_record: @competition_record, competition: @competition%>
      <% else %>
        <div class="flex-col flex justify-center items-center w-full">
          <p>大会結果記録はまだ未登録です</p>
          <%= link_to "大会結果記録", new_competition_weigh_in_path(@competition), class: "btn btn-sm btn-primary max-w-24" %>
        </div>
      <% end %>
    </div>
    <!-- 合計重量・各種目最高重量 -->
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-xl p-2">
      <% if @competition_result.present? %>
        <!-- 合計重量とIPF point -->
        <div class="flex flex-row shadow divide-x rounded-lg border-[1px] w-full">
          <!-- 合計重量 -->
          <div class="flex w-1/2 flex-col p-4">
            <div class="text-sm font-medium text-gray-500">TOTAL</div>
            <div class="text-2xl font-bold"><%= @competition_result.total_lifted_weight %> kg</div>
            <!-- 増減バッチ -->
            <div class="text-sm mt-1">
              <span class="rounded-full px-2 py-1 text-xs font-semibold <%= subtraction_result_color(@competition_result.total_subtraction(@competition_result, @past_competition_result)) %>">
                <%= raw subtraction_result_allow(@competition_result.total_subtraction(@competition_result, @past_competition_result)) %>
                <%= @competition_result.total_subtraction(@competition_result, @past_competition_result).abs %> kg
              </span>
            </div>
          </div>
          <!-- IPFポイント -->
          <div class="flex w-1/2 flex-col p-4">
            <div class="text-sm font-medium text-gray-500">IPF POINTS</div>
            <div class="text-2xl font-bold"><%= @competition_result.ipf_points.round(2) %></div>
            <!-- 増減バッチ -->
            <div class="text-sm mt-1">
              <span class="rounded-full px-2 py-1 text-xs font-semibold <%= subtraction_result_color(@competition_result.ipf_points_subtraction(@competition_result, @past_competition_result)) %>">
                <%= raw subtraction_result_allow(@competition_result.ipf_points_subtraction(@competition_result, @past_competition_result)) %>
                <%= @competition_result.ipf_points_subtraction(@competition_result, @past_competition_result).abs %>
              </span>
            </div>
          </div>
        </div>
          <div class="card-body w-full ">
            <!-- 各種目ベスト重量 -->
            <div class="py-2">
              <div class="flex items-center justify-between mb-3">
                <h2 class="font-bold mr-2">種目別 最高重量</h2>
              </div>
              <!-- スクワット -->
              <div class="flex flex-row pb-1">
                <h3 class="font-bold text-sm basis-1/3 ">BEST SQ</h3>
                <p class="text-sm basis-1/3 text-right pr-2"><%= @competition_result.best_squat_weight %>kg</p>
                <!-- 前回からの伸び -->
                <div class="text-sm basis-1/3 ">
                  <span class="flex w-full place-items-center rounded-full px-2 py-1 text-xs font-semibold <%= subtraction_result_color(@competition_result.squat_subtraction(@competition_result, @past_competition_result)) %>">
                    <%= raw subtraction_result_allow(@competition_result.squat_subtraction(@competition_result, @past_competition_result)) %>
                    <%= @competition_result.squat_subtraction(@competition_result, @past_competition_result).abs %>kg
                  </span>
                </div>
              </div>
              <!-- ベンチプレス -->
              <div class="flex flex-row pb-1">
                <h3 class="font-bold text-sm basis-1/3 ">BEST BP</h3>
                <p class="text-sm basis-1/3 text-right pr-2 "><%= @competition_result.best_benchpress_weight %>kg</p>
                <!-- 前回からの伸び -->
                <div class="text-sm basis-1/3 ">
                  <span class="flex w-full place-items-center rounded-full px-2 py-1 text-xs font-semibold <%= subtraction_result_color(@competition_result.benchpress_subtraction(@competition_result, @past_competition_result)) %>">
                    <%= raw subtraction_result_allow(@competition_result.benchpress_subtraction(@competition_result, @past_competition_result)) %>
                    <%= @competition_result.benchpress_subtraction(@competition_result, @past_competition_result).abs %>kg
                  </span>
                </div>
              </div>
              <!-- デッドリフト -->
              <div class="flex flex-row pb-1">
                <h3 class="font-bold text-sm basis-1/3 ">BEST DL</h3>
                <p class="text-sm basis-1/3 text-right pr-2 "><%= @competition_result.best_deadlift_weight %>kg</p>
                <!-- 前回からの伸び -->
                <div class="text-sm basis-1/3 ">
                  <span class="flex w-full place-items-center rounded-full px-2 py-1 text-xs font-semibold <%= subtraction_result_color(@competition_result.deadlift_subtraction(@competition_result, @past_competition_result)) %>">
                    <%= raw subtraction_result_allow(@competition_result.deadlift_subtraction(@competition_result, @past_competition_result)) %>
                    <%= @competition_result.deadlift_subtraction(@competition_result, @past_competition_result).abs %>kg
                  </span>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>