<div class="hero min-h-screen">
  <div class="hero-content flex-col">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">会員登録</h1>
    </div>
    <div class="card items-center mx-auto max-w-80 min-w-80 bg-white shadow-md p-4 text-sm">
      <!-- ここからform_withを使う形に修正 -->
      <%= form_with model: @user, html: { class: "card-body" } do |f| %>
        <div class="form-control">
          <div class="label p-0 flex justify-start items-center">
            <%= f.label :name, class: 'mr-2'%>
            <p class="text-red-500">(必須)</p>
          </div>
          <%= f.text_field :name, class: 'input input-bordered', placeholder:"name" %>
          <%= render 'shared/error_messages', object: f.object, attribute: :name %>
        </div>
        <div class="form-control">
          <div class="label p-0 flex justify-start items-center">
            <%= f.label :email, class: 'mr-2' %>
            <p class="text-red-500">(必須)</p>
          </div>
          <%= f.email_field :email, class: 'input input-bordered', placeholder:"email" %>
          <%= render 'shared/error_messages', object: f.object, attribute: :email %>
        </div>
        <div class="form-control">
          <div class="label p-0 flex justify-start items-center">
            <%= f.label :password, class: 'mr-2' %>
            <p class="text-red-500">(必須:3文字以上)</p>
          </div>
          <%= f.password_field :password, class: 'input input-bordered', placeholder:"password" %>
          <%= render 'shared/error_messages', object: f.object, attribute: :password %>
        </div>
        <div class="form-control">
          <div class="label p-0 flex justify-start items-center">
            <%= f.label :password_confirmation, class: 'mr-2' %>
            <p class="text-red-500">(必須:3文字以上)</p>
          </div>
          <%= f.password_field :password_confirmation, class: 'input input-bordered', placeholder:"password_confirmation" %>
          <%= render 'shared/error_messages', object: f.object, attribute: :password_confirmation %>
        </div>
        <!-- Profileの性別と生年月日入力フォームここから -->
        <%= f.fields_for :profile do |profile_f| %>
          <div class="form-control">
            <div class="label p-0 flex justify-start items-center">
              <%= profile_f.label :gender,  class: 'mr-2' %>
              <p class="text-red-500">(必須)</p>
            </div>
            <%= profile_f.select :gender,
            Profile.genders_i18n.invert.map { |key, value| [key, value] },
            {include_blank: '性別'},
            { class: 'select select-bordered w-full max-w-xs' } %>
            <%= render 'shared/error_messages', object: profile_f.object, attribute: :gender %>
          </div>
          <div class="form-control">
            <div class="label p-0 flex justify-start items-center">
              <%= profile_f.label :birthday %>
              <p class="text-red-500">(必須)</p>
            </div>
            <%= profile_f.date_field :birthday, class: 'input input-bordered', placeholder:"開催日" %>
            <%= render 'shared/error_messages', object: profile_f.object, attribute: :birthday %>
          </div>
        <% end %>
        <!-- Profileの性別と生年月日入力フォームここまで -->
        <div class="form-control mt-6">
          <%= f.submit class: 'btn btn-accent text-white' %>
        </div>
      <% end %>
      <!-- ここまでform_withを使う形に修正 -->
    </div>
  </div>
</div>