<div class="navbar bg-base-100 sticky top-0 z-50">
  <div class="flex-1">
    <%= link_to "good lifter log", root_path, class:"btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="flex flex-col" >
        <%= link_to profile_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 512 512">
          <path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/>
          </svg>
        <% end %>
      </li>
      <li>
        <details>
          <summary>
            Parent
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %></li>
            <li><a><%= link_to t('information.contact_us'), '#' %></a></li>
            <li><a><%= link_to t('information.terms_of_use'), '#' %></a></li>
            <li><a><%= link_to t('information.privacy_policy'), '#' %></a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>