<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "good lifter log", root_path, class:"btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to t('header.profile'), '#',  class:"btn btn-neutral" %></li>
      <li>
        <details>
          <summary>
            Parent
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %></li>
            <li><a><%= link_to t('information.contact_us'), '#' %></a></li>
            <li><a><%= link_to t('information.terms_of_use'), '#' %></a></li>
            <li><a><%= link_to t('information.privacy_policy'), '#' %></a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>