<!-- You can open the modal using ID.showModal() method -->
<a class="link link-primary text-sm mt-2 lg:text-lg" onclick="<%= modal_id %>.showModal()">LINEログインのやり方説明はこちら</a>
<dialog id= "<%= modal_id %>" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <div class="rounded-lg bg-zinc-50 shadow-lg my-6 pt-4">
      <div class="bg-gradient-to-t from-[#5176fa] to-[#10bde4ee] p-2 shadow-lg rounded-md m-4">
        <p class="font-bold text-primary-content">LINEログインのやり方</p>
      </div>
      <div class="flex flex-col items-center mb-4">
        <p class="font-bold text-base my-4">このような画面になったら<br/>下部の<span class="text-primary text-lg">「LINEアプリでログイン」</span><br/>をクリックして<br/>ログインに進んでください！</p>
        <%= image_tag asset_path("line_login.jpg"), class:"w-3/5" %>
        <%= image_tag asset_path("click_here.png"), class:"w-3/5 my-4" %>
      </div>
    </div>
    <div class="rounded-lg bg-zinc-50 shadow-lg my-6 pt-4">
      <div class="bg-gradient-to-t from-[#5176fa] to-[#10bde4ee] p-2 shadow-lg rounded-md m-4">
        <p class="font-bold text-primary-content">「ログインできませんでした。」<br/>と表示されてしまったときの対処法</p>
      </div>
      <div class="flex flex-col items-center mb-4">
        <p class="font-bold text-base my-4">このような画面になってしまったら、<br/>下にスクロールをしてください</p>
        <%= image_tag asset_path("line_error.png"), class:"w-3/5" %>
        <p class="font-bold text-base my-4"><span class="text-primary text-lg">「LINEアプリでログイン」</span>をタップ<br/>または長押ししてお試しください。</p>
        <%= image_tag asset_path("line_error_click.jpg"), class:"w-3/5" %>
        <%= image_tag asset_path("click_here.png"), class:"w-3/5 my-4" %>
      </div>
    </div>
  </div>
</dialog>