<!DOCTYPE html>
<html data-theme="mytheme" class="overflow-x-hidden">
  <head>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K87TV43SFF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K87TV43SFF');
    </script>
  </head>

  <body class="bg-zinc-50 text-gray-700 overflow-x-hidden">
    <!-- ヘッダー -->
    <% if logged_in? %>
      <% if @show_header_nav %>
        <%= render "shared/header" %>
        <% if current_user&.guest? %>
          <%= render "shared/login_prompt" %>
        <% end %>
      <% end %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <!-- ヘッダー -->
      <%= render "shared/flash_message" %>
      <%= yield %>
    <!-- フッターとボトムナビゲーション -->
    <% if logged_in? %>
      <% if @show_bottom_nav %>
        <%= render "shared/bottom_navbar" %>
      <% end %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
    <!-- フッターとボトムナビゲーション -->
  </body>
</html>
