<!DOCTYPE html>
<html data-theme="mytheme" class="overflow-x-hidden">
  <head>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- OGP設定 -->
    <%= display_meta_tags(default_meta_tags) %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K87TV43SFF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K87TV43SFF');
    </script>
  </head>

  <body class="bg-zinc-50 text-gray-700 overflow-x-hidden">
    <!-- ヘッダー -->
    <% if logged_in? %>
      <% if @show_header_nav %>
        <%= render "shared/header" %>
      <% end %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <!-- ヘッダー -->
    <div class="py-16">
      <!-- サイドバー -->
      <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">
          <!-- Page content here -->
          <% if current_user&.guest? %>
            <%= render "shared/login_prompt" %>
          <% end %>
          <%= render "shared/flash_message" %>
          <%= yield %>
        </div>
        <% if logged_in? %>
          <div class="drawer-side">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
              <!-- Sidebar content here -->
              <li><a>Sidebar Item 1</a></li>
              <li><a>Sidebar Item 2</a></li>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- サイドバー -->
    </div>
    <!-- フッターとボトムナビゲーション -->
    <% if logged_in? %>
      <% if @show_bottom_nav %>
        <%= render "shared/bottom_navbar" %>
      <% end %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
    <!-- フッターとボトムナビゲーション -->
  </body>
</html>
