<!DOCTYPE html>
<html data-theme="mytheme" class="overflow-x-hidden">
  <head>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- OGP設定 -->
    <%= display_meta_tags(default_meta_tags) %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K87TV43SFF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K87TV43SFF');
    </script>
  </head>

  <body class="bg-zinc-50 text-gray-700 overflow-x-hidden">
    <!-- ヘッダー -->
    <% if logged_in? %>
      <% if @show_header_nav %>
        <%= render "shared/header" %>
      <% end %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <!-- ヘッダー -->
    <div class="py-16">
      <!-- サイドバー -->
      <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">
          <!-- Page content here -->
          <% if current_user&.guest? %>
            <%= render "shared/login_prompt" %>
          <% end %>
          <%= render "shared/flash_message" %>
          <%= yield %>
        </div>
        <% if logged_in? %>
          <div class="drawer-side">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
              <!-- Sidebar content here -->
              <li class="my-2">
                <%= link_to competitions_path do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="#fc345c" viewBox="0 0 576 512">
                    <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                  </svg>
                  <span class="btm-nav-label text-lg"><%= t('bottom_navi.home') %></span>
                <% end %>
              </li>
              <li class="my-2">
                <%= link_to new_competition_path do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="#fc345c" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                  <span class="btm-nav-label text-lg"><%= t('bottom_navi.create') %></span>
                <% end %>
              </li>
              <li class="my-2">
                <%= link_to charts_path do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="#fafafa" viewBox="0 0 24 24" stroke="#fc345c">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                  </svg>
                  <span class="btm-nav-label text-lg"><%= t('bottom_navi.statics') %></span>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- サイドバー -->
    </div>
    <!-- フッターとボトムナビゲーション -->
    <% if logged_in? %>
      <% if @show_bottom_nav %>
        <%= render "shared/bottom_navbar" %>
      <% end %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
    <!-- フッターとボトムナビゲーション -->
  </body>
</html>
