<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-zinc-50 text-gray-700">
    <!-- ヘッダー -->
    <% if logged_in? %>
      <% if @show_header_nav %>
        <%= render "shared/header" %>
      <% end %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <!-- ヘッダー -->
      <%= render "shared/flash_message" %>
      <%= yield %>
    <!-- フッターとボトムナビゲーション -->
    <% if logged_in? %>
      <% if @show_bottom_nav %>
        <%= render "shared/bottom_navbar" %>
      <% end %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
    <!-- フッターとボトムナビゲーション -->
  </body>
</html>
